@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0f0f0f #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border: 4px solid #fafafa;
  border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #0f0f0f;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  padding: 0;
  color: #0f0f0f;
  font-family: "Work Sans", sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}

header {
  width: auto;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  margin: 1% 0 1.5%;
  padding: 0 8.33%;
}

.logo img {
  width: 100%;
  height: 100px;
}

nav {
  width: auto;
  height: auto;
  padding: 0 8.33%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li a {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #0f0f0f;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

/* Apply styles for the active state */
nav li.active a {
  border-bottom: 3px solid #0f0f0f;
}

nav li a:hover {
  border-bottom: 3px solid #0f0f0f;
}

.hero-section {
  /* background-color: red; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8.33%;
  margin: 1.5% 0 2.5% 0;
}

.hero-container {
  width: 100%;
  /* margin-top: 10px; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 16.66%; */
}

.carousel {
  width: 100%;
  /* Ensure the carousel takes the full width of the container */
  max-width: 100%;
  /* Ensure the images inside the carousel do not exceed the container width */
}

.carousel-item img {
  width: 100%;
  /* Make sure the images inside the carousel take the full width */
  height: 700px;
  /* Maintain aspect ratio */
  object-fit: cover;
}

.carousel-caption {
  background-color: white;
  width: 60%;
  /* Set the desired width */
  margin: 0 auto;
  /* Center the caption horizontally */
  text-align: center;
  /* Center the text within the caption */
}

.carousel-caption > h2 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #0f0f0f;
  max-width: 100%;
  /* Set a maximum width to prevent overflow */
  overflow-wrap: break-word;
}

@media (max-width: 676px) {
  .carousel-caption > h2 {
    font-size: 36px;
    /* Small screens */
  }
}

.row {
  display: flex;
  align-items: center;
}

.heading > h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.section-1,
.section-3 {
  background-color: #e33877;
  border-radius: 7px;
  position: relative;
  margin: 10px;
  padding: 0;
  width: 100vw;
}

.section-2 {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
}

.middle-text {
  color: black;
}

.activity-text {
  color: white;
  margin: 0 40px 0 40px;
  padding: 80px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.activity-text > h1 {
  font-size: 45px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.middle-text {
  color: #0f0f0f;
}

.activity-img {
  width: 600px;
  height: 500px;
  display: flex;

  margin: 0;
  border-radius: 7px;
  overflow: hidden;
}

.activity-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* or use object-fit: fill; depending on your preference */
}

.custom-shape-divider-bottom-1701519349 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701519349 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 155px;
}

.custom-shape-divider-bottom-1701519349 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1701531289 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701531289 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 121px;
}

.custom-shape-divider-top-1701531289 .shape-fill {
  fill: #ffffff;
}
