@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #0f0f0f #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #fafafa;
}

*::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    border: 4px solid #fafafa;
    border-radius: 8px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #0f0f0f;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

/* .top-wave {
    opacity: 0.9;
} */
.yellow-blob {
    position: absolute;
    left: 0;
    top: 200px;
    height: 70%;
    width: auto;
    z-index: -1;
    /* opacity: 0.9; */
}

.blue-blob {
    position: absolute;
    right: 0;
    top: 1600px;
    height: 100%;
    width: auto;
    z-index: -1;
    rotate: 180deg;
    /* opacity: 0.9; */
}

h2 {
    font-size: 64px;
    font-weight: 700;
    padding: 0;
    color: #0f0f0f;
    font-family: 'Work Sans', sans-serif;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }
}

header {
    width: auto;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    margin: 1% 0 1.5%;
    padding: 0 8.33%;
}

.logo img {
    width: 100%;
    height: 100px;
}

nav {
    width: auto;
    height: auto;
    padding: 0 8.33%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

nav li a {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #0f0f0f;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

nav li.active a {
    border-bottom: 3px solid #0f0f0f;
}

nav li a:hover {
    border-bottom: 3px solid #0f0f0f;
}

.hero-section {
    margin: 1.5% 0 2.5% 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 8.33%;

    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.hero-section img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/* .hero-section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8.33%;
    margin: 1.5% 0 2.5% 0;
}
.hero-container {
    background-color: #e2e2e2;
    width: 100%;
    padding-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8.33%;
    margin: 2.5% 0;
    justify-content: space-between;
}

/* .section-2 h2 {
    background-color: #E33877;
    text-decoration: underline #E33877;
} */
.boxes-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.section-2-big-square {
    position: relative;
    width: calc(50% - 1%);
    /* 50% width minus twice the gap size 1% */
    padding-top: calc(50% - 1%);
    /* 50% padding-top minus twice the gap size 1% */
    background-color: #e2e2e2;
}

.sqaure-container {
    position: relative;
    width: calc(50% - 1%);
    /* 50% width minus twice the gap size 1% */
    padding-top: calc(50% - 1%);
    /* 50% padding-top minus twice the gap size 1% */
    background-color: #e2e2e2;
}

.section-2-small-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Create 3 columns */
}

h4 {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    margin: 0;
    /* justify-content: flex-end;
    align-items: flex-start; */
    padding: 1rem;
    color: #fafafa;
    background-color: transparent;
    font-family: 'Opens Sans', sans-serif;

}

.small-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e2e2;
    width: 100%;
    height: 100%;
    /* justify-content: flex-start; */
    /* align-self:baseline; */
}

.small-box img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    display: block;
    transition: filter 0.5s ease;
}

.section-3 {
    /* background-color: #108CB0; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0 8.33%;
    margin: 2.5% 0;
    justify-content: space-between;
}

/* .section-3 h2 {
    padding: 0;
    margin: 0 0 1.25rem 0;
} */
.wide-boxes-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.wide-box {
    position: relative;
    width: calc(50% - 1%);
    /* 33% width minus twice the gap size (8px) */
    padding-top: calc(25% - 1%);
    /* 33% padding-top minus twice the gap size (8px) */
    background-color: #e2e2e2;
    display: flex;
}

.section-4 {
    /* background-color: green; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 8.33%;
    margin: 2.5% 0;
    /* column-gap: 1%; */
    justify-content: space-between;
}

.mid-boxes-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.mid-box {
    position: relative;
    width: 24%;
    /* 25% width minus twice the gap size (8px) */
    padding-top: 24%;
    /* 25% padding-top minus twice the gap size (8px) */
    background-color: #e2e2e2;
    display: flex;
    ;
}

.mid-box img {
    width: 92%;
    position: absolute;
    height: 92%;
    display: block;
    object-fit: cover;
    top: 4%;
    left: 4%;
}

.mid-box:nth-child(1):hover {
    background-color: #108CB0;
    border-color: #108CB0;
}

.mid-box:nth-child(2):hover {
    background-color: #E33877;
}

.mid-box:nth-child(3):hover {
    background-color: #EE709E;
}

.mid-box:nth-child(4):hover {
    background-color: #ED6915;
}

.section-5 {
    /* background-color: blue; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 8.33%;
    margin: 2.5% 0;
    justify-content: space-between;
}

/* .section-5 h2 {
    background-color: #F9C411;
    padding: 0;
    margin: 0 0 1.25rem 0;
} */
.square-box-33-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.square-box-33 {
    position: relative;
    width: calc(33.33% - 1%);
    /* 33% width minus twice the gap size (8px) */
    padding-top: calc(33.33% - 1%);
    /* 33% padding-top minus twice the gap size (8px) */
    background-color: #e2e2e2;
    display: flex;
}

.section-6 {
    /* background-color: blue; */
    height: auto;
    width: auto;
    display: flex;
    padding: 0 8.33%;
    margin: 1.5% 0 2.5% 0;
    justify-content: space-between;
}

.large-grid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Updated the percentage to fr */
    grid-template-rows: repeat(3, 1fr);
    /* Updated the percentage to fr */
    /* border: #0f0f0f solid 2px; */
}

.small-box-v0 {
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e2e2;
    width: 100%;
}

.small-box-v0 img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.5s ease;
}

.section-7 {
    /* background-color: green; */
    height: auto;
    display: grid;
    padding: 0 8.33%;
    margin: 2.5% 0;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mid-box-v2 {
    position: relative;
    width: calc(100%);
    /* 50% width minus twice the gap size (8px) */
    padding-top: calc(100%);
    /* 50% padding-top minus twice the gap size (8px) */
    background-color: #e2e2e2;
    display: flex;

}

.mid-box-v2 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.section-8 {
    /* background-color: green; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 8.33%;
    margin: 2.5% 0;
    justify-content: space-between;
}

.eight-boxes-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 1%;
    row-gap: 2%;
}

.box-section-8 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Set padding-top to create a square */
    background-color: #e2e2e2;
    display: flex;
}

.box-section-8 img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* .box-section-8 img:hover {
    filter: contrast(1.25);
} */












.box-section-8 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Set padding-top to create a square */
    /* background-color: #0f0f0f; */
    display: flex;
}

.box-section-8:nth-child(1) {
    background-color: #108CB0;
}

.box-section-8:nth-child(2) {
    background-color: #E33877;
}

.box-section-8:nth-child(3) {
    background-color: #EE709E;
}

.box-section-8:nth-child(4) {
    background-color: #ED6915;
}

.box-section-8:nth-child(5) {
    background-color: #F9C411;
}

.box-section-8:nth-child(6) {
    background-color: #108CB0;
}

.box-section-8:nth-child(7) {
    background-color: #E33877;
}

.box-section-8:nth-child(8) {
    background-color: #EE709E;
}

.box-section-8:nth-child(1):hover {
    background-color: #108CB0;
}

.box-section-8:nth-child(2):hover {
    background-color: #E33877;
}

.box-section-8:nth-child(3):hover {
    background-color: #EE709E;
}

.box-section-8:nth-child(4):hover {
    background-color: #ED6915;
}

.box-section-8:nth-child(5):hover {
    background-color: #F9C411;
}

.box-section-8:nth-child(6):hover {
    background-color: #108CB0;
}

.box-section-8:nth-child(7):hover {
    background-color: #E33877;
}

.box-section-8:nth-child(8):hover {
    background-color: #EE709E;
}

.box-section-8 img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
}

.box-section-8:hover img {
    width: 92%;
    height: 92%;
    position: absolute;
    display: block;
    object-fit: cover;
    top: 4%;
    left: 4%;
    transition: all 0.5s ease;
}

.box-section-8:not(:hover) img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out;
}



.about-section {
    /* background-color: #EE709E; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8.33%;
    margin: 2.5% 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.about-section-1 {
    /* background-color: #fafafa; */
    width: 49.5%;
    position: relative;
    /* background-color: #EE709E; */
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        width: 100%;
        /* padding-top: 100%; */
        margin-bottom: 2%;
    }
}

.about-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 2.5% 0 0 0; */
    top: 0;
    left: 0;

    @media screen and (max-width: 768px) {
        margin-bottom: 2%;
    }
}

.about-text p {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.about-section-2 {
    width: 49.5%;
    padding-top: 49.5%;
    position: relative;
    /* background-color: #F9C411; */
    display: flex;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-top: 100%;

    }
}

.about-section-2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
}

.google-map-section {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8.33%;
    margin: 2.5% 0;
}

iframe {
    width: 100%;
    height: 100%;
}

/* iframe {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
} */







footer {
    background-color: transparent;
    height: auto;
    width: 100%;
    display: flex;
    padding: 1.25% 8.33%;
    margin-top: 2.5%;
    justify-content: space-between;
}

.footer-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.25% 0;
    border-top: #0f0f0f 3px solid;
    border-bottom: #0f0f0f 3px solid;

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

footer p {
    color: #0f0f0f;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

footer p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.footer-part1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.footer-part2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.footer-part3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.footer-part-4 {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-part-4 a {
    color: #0f0f0f;
}
.footer-part-5 {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buy-ticket {
    margin-top: 8px;

    @media screen and (max-width: 768px) {
        margin-bottom: 8px;
    }
}

.buy-ticket a {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #107F00;
    text-decoration: none;
    border-bottom: #107F00 4px solid;
}

.buy-ticket a:hover {
    color: #E33877;
    border-bottom: #E33877 4px solid;
}